<div class="container">

<h2>Presupuesto prueba #{{budgetView?.id}}</h2>
    <div><p>Cajas necesaria: <strong>{{totalCajas}}</strong></p></div>

    <div class="container">
        <div *ngFor="let ambiente of hashmap | keyvalue">
          <h3>{{ ambiente.key }}</h3> 
      
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Slots</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let module of ambiente.value">
                <td>{{ module.name }}</td>
                <td>{{ module.price }}</td>
                <td>{{ module.slots }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    
      <div><p>Total Cotizacion: <strong>{{totalPrecio}}</strong></p></div>


      <button type="button" class="btn btn-secondary mb-2" routerLink="/list" routerLinkActive="router-link-active">Volver</button>

</div>