<div class="container">

    <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cliente</th>
              <th scope="col">Fecha</th>
              <th scope="col">Módulos</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bud of listBudgets">
              <td>{{ bud.id }}</td>
              <td>{{ bud.client }}</td>
              <td>{{ bud.date | date: 'shortDate' }}</td>
              <td>{{ bud.modules.length }}</td>
              <td>
                <button type="button" class="btn btn-secondary" 
                        (click)="bud.id ? view(bud.id) : null">Acciones</button>
              </td>
              
            </tr>
          </tbody>
        </table>
      </div>
      


</div>